
# pixi environments
.pixi
pixi.lock
*.egg-info
# magic environments
.magic
magic.lock
# mojopkg files
*.mojopkg
# VSCode environments
.vscode
tempCodeRunnerFile.mojo
/temp*.mojo
# macOS environments
.DS_Store
# log files
*.log
# local files
/test*.mojo
local