[workspace]
authors = ["ZHU Yuhao 朱宇浩 <dr.yuhao.zhu@outlook.com>"]
channels = ["https://conda.modular.com/max-nightly", "https://conda.modular.com/max", "https://repo.prefix.dev/modular-community", "conda-forge"]
description = "An arbitrary-precision decimal and integer library for Mojo"
license = "Apache-2.0"
name = "decimo"
platforms = ["osx-arm64", "linux-64"]
readme = "README.md"
version = "0.8.0"

[dependencies]
mojo = "==0.26.1"

[tasks]
# format the code
format = "pixi run mojo format ./src && pixi run mojo format ./benches && pixi run mojo format ./tests && pixi run mojo format ./docs"

# compile the package
p = "clear && pixi run package"
package = "pixi run format && pixi run package_decimo && pixi run package_tomlmojo"
package_decimo = "pixi run mojo package src/decimo && cp decimo.mojopkg tests/ && cp decimo.mojopkg benches/ && rm decimo.mojopkg"
package_tomlmojo = "pixi run mojo package src/tomlmojo && cp tomlmojo.mojopkg tests/ && cp tomlmojo.mojopkg benches/ && rm tomlmojo.mojopkg"

# clean the package files in tests folder
c = "clear && pixi run clean"
clean = "rm tests/decimo.mojopkg && rm benches/decimo.mojopkg && rm tests/tomlmojo.mojopkg && rm benches/tomlmojo.mojopkg"

# tests (use the mojo testing tool)
b = "clear && pixi run package && bash ./tests/test_big.sh"
b2 = "clear && pixi run package && bash ./tests/test_binary.sh"
t = "clear && pixi run package && bash ./tests/test_all.sh"
test = "pixi run package && bash ./tests/test_all.sh"
test_toml = "pixi run package && bash ./tests/test_toml.sh"
ttoml = "clear && pixi run package && bash ./tests/test_toml.sh"

# bench
bench = "pixi run package && bash benches/run_bench.sh"

# bench with debug assertions enabled
bdec_debug = "clear && pixi run package && cd benches/bigdecimal && pixi run mojo run -I ../ -D ASSERT=all bench.mojo && cd ../.. && pixi run clean"
bint_debug = "clear && pixi run package && cd benches/bigint && pixi run mojo run -I ../ -D ASSERT=all bench.mojo && cd ../.. && pixi run clean"
buint_debug = "clear && pixi run package && cd benches/biguint && pixi run mojo run -I ../ -D ASSERT=all bench.mojo && cd ../.. && pixi run clean"
dec_debug = "clear && pixi run package && cd benches/decimal128 && pixi run mojo run -I ../ -D ASSERT=all bench.mojo && cd ../.. && pixi run clean"

# doc
doc = "clear && pixi run mojo doc -o docs/doc.json --diagnose-missing-doc-strings --validate-doc-strings src/decimo"
